<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SoloTournamentCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SoloTournamentCreator.Properties.Settings>
      <setting name="RiotApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value>merchez.com</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>db_loic</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>loic_readonly</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>L2U7dcNtrgWvn4SV</value>
      </setting>
      <setting name="AdminRight" serializeAs="String">
        <value>False</value>
      </setting>
    </SoloTournamentCreator.Properties.Settings>
  </userSettings>
   <!--<entityFramework>
     <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" 
                type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SavingContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=SoloTournamentCreator.Data2.SavingContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
        <provider invariantName="MySql.Data.MySqlClient"
            type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
        <provider invariantName="System.Data.SqlClient"
            type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
</entityFramework>
  <connectionStrings>

    <add name="SavingContext2" providerName="MySql.Data.MySqlClient"
        connectionString="server=ns344589.ip-5-39-89.eu;port=3306;database=paintfusion;uid=root;password='*****'"/>
    <add name="SavingContext" providerName="MySql.Data.MySqlClient"
        connectionString="server=merchez.com;port=3306;database=db_loic;uid=loic_readonly;password='L2U7dcNtrgWvn4SV'"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"></remove>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,  Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>